/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* General Styles */

html {
  font-size: 16px;
}

body {
  background-color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  color: #000000;
  text-align: left;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

h1 {
  font-family: 'Mogan', sans-serif;
  font-size: 3em;
  color: #ff1616;
}

h2 {
  font-weight: 600;
  font-size: 1.25em;
}

h3 {
  color: #ff1616;
}

p {

}

img {
  width: 100%;
}

figure {
  width: 100%;
  margin: 0;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
}

section {
  margin: 0;
}

/* ------------------------- Base Header - Footer Styles -------------------------*/

header {
  display: flex;
  background-color: #eed4d4;
 }

header .content-wrapper {
   position: relative;
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   flex-flow: row wrap;
   margin: 0;
}

.header-divider {
  background: #000;
  width: 90%;
  height: 1px;
  margin: 10px 0 20px 0;
}

header nav {
   text-transform: lowercase;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-flow: row wrap;
   width: 100%;
}

header nav ul {
   display: flex;
   justify-content: space-around;
   width: 100%;
}

header nav ul li {
  font-size: 1.5em;
}

footer {
  display: flex;
  background-color: #eed4d4;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer {
  text-align: center;
  flex-direction: column;
}

footer .content-wrapper {
  width: 55%;
  margin: 25px 0;
}

footer .socialmedia-icons {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

footer .socialmedia-icons ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .socialmedia-icons ul li {
  margin: 0 5px;
}

footer .socialmedia-icons i {
  font-size: 2em;
  color: #ff1616;
}

footer .copyright {
  margin: 5px 0;
}

/* -------------------- Mobile Styles - Homepage -------------------- */

#hero .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
#blm h1 {
  color: #ffffff;
  background-color: #000000;
  justify-content: center;
  padding: 0 10px;
}

#rainbow-text {
  justify-content: center;
}

#rainbow-text h1 {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}

#hero p {
  margin: 50px 0;
}

/* ----------------- Portfolio ------------------- */
#portfolio {
  display: flex;
  flex-direction: row;
}

#portfolio .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#portfolio h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#portfolio figure {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 30px;
}

/* ----------------- About ---------------------- */

.about {
  display: flex;
  background-color: #eed4d4;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.about h2 {
  display: flex;
  justify-content: center;
  width: 80%;
}

.about .content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about figure {
  width: 50%;
}

.about figure img {
  border-radius: 15%;
}

.about p {
  width: 50%;
  padding: 20px;
  line-height: 1.75;
}

/* Contact */

#contact {
   background-color: #eed4d4;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: row wrap;
}

#contact h3 {
    color: #eed4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#contact p {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#contact .form {
  margin: 30px 0;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #000000;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #ffffff;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
    Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (min-width: 768px) {
/* Tablet styles here */

/* General Styles */

.content-wrapper {
  max-width: 90%;
  margin: auto;
}

/* Header */

header {
  justify-content: space-around;
  padding: 33px 0;
}

header .content-wrapper {
  width: 80%;
  justify-content: space-between;
}

header nav {
  width: 50%;
}

header nav ul {
  justify-content: flex-end;
}

header nav ul li {
  padding: 0 10px;
}

.header-divider {
  display: none;
}

/* Portfolio */
#portfolio figure {
  width: 40%;
}

/* About */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 90%;
}

/* Contact */

#contact {
   background-color: #eed4d4;
}

#contact .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#contact .content-wrapper .form-description {
  justify-content: center;
}
#contact .content-wrapper .form {
  width: 25%;
}
#contact h3 {
  font-size: 2em;
}
#contact p {
  color: #000000;
}

input[type=button] {
  background-color: #000000;
  color: #eed4d4;
  border: solid 1px #000000;
  border-radius: 3px;
  padding: 18px 0;
}

}

@media only screen and (min-width: 1200px) {
  /* Desktop styles here */
  h2,
  h3 {
    font-size: 2.25em;
  }
  p {
    font-size: 1.125em;
    line-height: 1.333;
  }

#hero #rainbow-text {
  width: auto;
}

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
